.background{
    width: 100vw;
    min-height: 100vh;
    background-image: url(.././images/background.png);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
    max-width: 1440px;
}


// social
.social{
    position: relative;

    ul{
        position: fixed;
        margin-top: 45vh;
        right: 2%;
        z-index: 999;
        
        i{
            opacity: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 44px;
            margin: 1rem auto;

            &:hover{
                color: $red;
                opacity: 1;
            }
        }

    }

} 


// heading
.heading-container{
    position: relative;
    top: 60px;
    p{
        margin: 2rem 0;
    }
}

//services
#services-background-1, #services-background-2{
    width: 100%;
}


.background-section{
    background-color: $black;
    width: 100%;
    height: 101%;


    h2{
        color: $white;
        text-align: center;
    }
    p{
        color: $white;
    }

    .services-container{
        display: flex;
        margin: 0 auto;
        padding: 1rem;

        @include pad{
            flex-direction: column;
        }

        .services-item{
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                max-width: 300px;
                width: 100%;
            }
        }


    }
}

//about

//techstack
.tech-container{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tech-carousel-container{
        height: 100px;
        width: 100%;
      
        overflow: hidden;
        position: relative;

        .tech-carousel{
            display: block;
            width: 200%;
            height: 100px;
          
            position: absolute;
            overflow: hidden;
          
            animation: marquee 20s linear infinite;

            // @keyframes marquee {
            //     0% { left: 0; }
            //     100% { left: -100%; }
            //   }

            img{
                float: left;
                width: 50%;
                padding: 1rem;
            }

        }


    }
}

//work{
.work-item{
    display: flex;
    flex-direction: row;
    margin: 2rem 0;

    @include pad{
        flex-direction: column;

    }

    img{

        @include lg-desktop{
            width: 100%;
            max-width: 660px;
        }

    }


    .work-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;


        @include pad{
            width: 100%;
        }


        .work-description{
            padding: 1rem;
        }

        .ctas{
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;

            button{
                    margin: .8rem;
                    padding: .8rem 2.2rem;
            }

            @include laptop{
                flex-direction: column;
                border: solid 1px red;
            }
        }

    }


}

//experience
.experience-box{
    border: solid 1px red;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @include pad{
        flex-direction: column;
    }

    .experience-item{
        border: solid 1px blue;
        display: inline-flex;
        flex-direction: column;
        width: 40%;

        @include pad{
            flex-direction: row;
            width: 100%;
        }
  
        .tablinks{
                border-left: solid 4px $red;
                cursor: pointer;
                padding: .5rem;
                margin: 1rem;
                transition: .3s;

                &:hover{
                    color: $red;
                    transition: .3s;
                }

                @include pad{
                    border-left: none;
                    border-top: solid 4px $red; 
                    padding: .2rem;
                    margin: .5rem;
                }
        }
    }

    #Uprithm{
        display: block;
        border: solid 1px red;
    }

    .tabcontent{
        border: solid 1px orange;
        margin: 0;
        display: none;

        &>*{
            padding: .4rem 0;
        }
    }


}


// contact
.contact-container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact-box{
        margin-bottom: 2rem;
        width: 60%;
    }

form{
        width: 80%;
        max-width: 480px;
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;

        label{
            margin: 1rem 0;

            input, textarea{
                border: solid 1px $red;
                width: 100%;
                height: 32px;
                margin-top: .5rem;
                background-color: transparent;
            }

            textarea{
                height: 120px;
                background-color: transparent;
            }
        }
    }
}