img {
  max-width: 100%;
}


#header {
    // border: 1px solid black;
  position: fixed;
  top:0;
  z-index: 999;
  background: #f5d14d;
  width: 100%;
  height: 100px;
 
  .item {
    width: 90%;
    display: flex;
    margin: 0 auto;

    .logo {
      // border: 1px solid black;
      flex-basis: 10%;

      @include pad{
        flex-basis: 15%;
      }
      @include small_pad{
        flex-basis: 50%;

      }
      a{
        width: 100%;
        // border: 1px solid firebrick;
        display: flex;
        
       img{
        // border: 1px solid firebrick;
        padding-top:10px ;

        @include small_pad{
          margin: auto;
  
        }
       }
      }
    }

    .search {
      // border: 1px solid black;
      line-height: 100px;
      flex-basis: 30%;
      text-align: right;
      padding-top: 10px;
      @include latop{
        flex-basis: 22%;
      }
      @include pad{
        display: none;
      }
      .img {
        display: inline-block;
      }

      .line {
        display: inline-block;
        width: 200px;
        border-bottom: 1px solid black;
        @include latop{
          width: 100px;
        }
      }
    }

    .header_nav {
      // border: 1px solid black;
      flex-basis: 43%;
      @include latop{
        flex-basis: 47%;
      }
      @include pad{
        flex-basis: 59%;
      }
      @include small_pad{
        display: none;
      }
      .header_nav_content {
        display: flex;
        width: 90%;
        margin: auto;
        @include latop{
          width: 100%;
        }
        a {
          // border: 1px solid lightcoral;
          width: 100%;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
         
          &:hover {
            background-image: url("../images/header/hbcg2.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 79px 65px;
            
          }

          h3 {
            width: 100%;
            border-right: 2px solid black;
            color: black;
            text-align: center;

          }

          &:nth-child(3) {
            h3 {
              border-right: none;
            }
          }
        }
      }
    }

    .login {
      // border:1px solid red;
      display: block;
      flex-basis: 10%;
      text-align: center;
      line-height: 100px;
    
      @include latop{
        flex-basis: 14%;
      }
      @include pad{
        flex-basis: 21%;
      }
      @include small_pad{
        flex-basis: 30%;

      }
    }

    .hambuger {
      // border:1px solid red;
      flex-basis: 7%;


      #menu-burger {
        // border: 1px solid darkblue;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 26px;
        right: 5%;
        cursor: pointer;
        z-index: 200;
      }

      #menu-burger .menu-icon {
        display: block;
        height: 4px;
        width: 30px;
        background: $neutral_black;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -9px;
        margin-top: -1px;
        border-radius: 50%;
      }

      #menu-burger .menu-icon:after {
        content: '';
        display: block;
        height: 4px;
        width: 30px;
        background: $neutral_black;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -9px;
        margin-top: -12px;
        transition: 0.35s;
        border-radius: 50%;
      }

      #menu-burger .menu-icon:before {
        content: ' ';
        display: block;
        height: 4px;
        width: 30px;
        background: $neutral_black;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -9px;
        margin-top: 8px;
        transition: 0.35s;
        border-radius: 50%;
      }

      #menu-burger .menu-icon.open:before {
        width: 40px;
        transform: rotate(45deg);
        margin-top: -1px;
        background: #000;
      }

      #menu-burger .menu-icon.open:after {
        width: 40px;
        transform: rotate(-45deg);
        margin-top: -1px;
        background: #000;
      }

      #menu-burger.open {
        background: #f5d14d;
      }

      #menu-burger .menu-icon.open {
        background: #f5d14d;
      }

      #overlay-menu {
        position: fixed;
        top: 0;
        z-index: 999;
        // border: 1px solid black;
        background: #f5d14d;
        height: 70%;
        width: 100%;
        z-index: 100;
        right: -100%;
        transition: 0.35s;
        -webkit-filter: drop-shadow(2px 2px 7px rgba(0, 0, 0, 0.3));
        filter: drop-shadow(2px 2px 7px rgba(0, 0, 0, 0.3));
        @include pad{
          height:100%;
        }
      }

      #overlay-menu.open {
        right: 0%;
      }

      #overlay-menu nav {
        // border: 1px solid black;
        width: 90%;
        height: 80%;
        margin: auto;
        position: relative;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
        display: flex;
        
        @include pad{
          display: block;

        }
        .hug_left {
          // border: 1px solid forestgreen;
          flex-basis: 70%;
          display: block;
          padding-right: 70px;
          @include latop{
            padding-right: 40px;
            // margin: auto;
          }
          @include small_pad{
            padding-right: 0px;
          }

          .hug_left_item1 {
            padding-bottom: 15px;
            border-bottom: 3px solid $neutral_black;
            border-radius: 2%;
            display: flex;
            @include small_pad{
              display: block;

            }
            .hug_left_item1_logo {
              // border: 1px solid maroon;
              flex-basis: 24%;
              @include small_pad{
               
                display: flex;
                justify-content: center;
                margin: auto;
                margin-bottom: 40px;
                
              }
            }

            .hug_left_item1_text {
              // border: 1px solid yellowgreen;
              flex-basis: 76%;
              display: flex;
              align-items: center;

              @include small_pad{
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
              }
              a {
                text-align: start;
                color: $neutral_black;
                display: inline-block;
                margin-right: 60px;
                @include latop{
                  margin-right: 20px;
                }
                @include mobile{
                  h3{
                    font-size: $h4;
                  }
                }
                
                &:hover {
                  color: $white;
                }
              }

              a:last-child {
                margin-right: 0px;
              }
            }
          }

          .hug_left_item2 {
            padding-bottom: 20px;
            padding-top: 50px;
            border-bottom: 3px solid $neutral_black;
            border-radius: 2%;

            .hug_left_item2_category {
              display: flex;
              
              .category {
                // border: 1px solid gray;
                flex-basis: 20%;
                display: flex;
                align-items: center;
                @include small_pad{
                  display: none;
                }
              }

              .hug_left_item2_icon {
                // border: 1px solid snow; 
                flex-basis: 25%;
                background-size: 60px 54px;
                background-image: url("../images/header/hbcg1.svg");
                background-repeat: no-repeat;
                background-position: center bottom;
                transition: .3s;
                @include latop{
                  background-size: 50px 44px;
                }
                @include small_pad{
                  margin: auto;
                }
                @include mobile{
                  background-size: 40px 34px;
                }
                &:hover {
                  background-size: 140px 134px;
                  background-position: center center;
                  @include latop{
                    background-size:100px 94px;
                  }
                }

                img {

                  margin: auto;
                  width: 111px;
                  height: 111px;
                  @include latop{
                    width: 90px;
                    height: 90px;
                  }
                  @include mobile{
                    width: 70px;
                    height: 70px;
                  }
                  a {
                    text-align: center;
                    
                  }
                  
                }


                h4 {
                  color: $neutral_black;
                  margin-top: 15px;
                  @include mobile{

                      font-size: $h4;
                
                  }
                }
              }

            }
          }

          .hug_left_item3 {
            // border: 1px solid #fffafa;

            .hug_left_item3_text {
              display: flex;
              padding-top: 40px;
            }

            h3 {
              margin-right: 70px;
              color: $neutral_black;
              @include mobile{
                  font-size: $h4;
                  margin-right: 50px;

              }
              &:hover {
                color: $white;
              }
            }
          }

        }

        .hug_right {
          flex-basis: 30%;
          width: 100%;
          border-left: 3px solid $neutral_black;
          border-radius: 2%;
          display: flex;
          align-items: center;
          @include pad{
            border-left: none;
          }
          .hug_right_item {
            // border: 1px solid #fffafa; 
            margin: auto;
            width: 100%;

            .hug_right_title {
              // border: 1px solid #fffafa; 
              padding: 40px 0px;
            }

            .hug_right_icon {
              padding: 20px 0px;
              display: flex;
              width: 70%;
              background-color: white;
              border-radius: 1.5rem;
              margin: auto;

              a {
                margin: auto;
                &:hover{
                  background-size: 40px 40px;
                  border-radius: 999rem;
                  background-color: $primary_yellow;                  
                }
              }
            }

            .hug_right_login {
              // border: 1px solid #fffafa;
              padding: 40px 0px;

              .btn_neutral_md {
                margin-right: 20px;
              }

              .btn_neutral_md:last-child {
                margin-right: 0px;
              }
            }
          }
        }
      }




      *::selection {
        background: #fff;
      }

    }


  }

}