<header>
    <nav class="navbar">
        <div class="left">
            <a href="#top" class="paragraph home">Home</a></li>
        </div>
        <div class="right">
            <a href="#work" class="paragraph">Work</a></li>
            <a href="#about" class="paragraph">About</a></li>
            <a href="#services" class="paragraph">Services</a></li>
            <a href="#contact" class="paragraph">Contact</a></li>
            <a href="" class="paragraph resume">See Resume</a></li>
        </div>
    </nav>
</header>
