<header>
    <nav class="navbar">
        <div class="left">
            <a href="#top" class="paragraph home">Home</a>
        </div>
        <div class="right">
                <a href="#work" class="paragraph">Work</a>
                <a href="#about" class="paragraph">About</a>
                <a href="#services" class="paragraph">Services</a>
                <a href="#contact" class="paragraph">Contact</a>
                <a href="https://drive.google.com/file/d/1xNzSQLhobi2UmCscRZNqm5vHaRWJtSxB/view?usp=sharing" class="paragraph resume" target="_blank">
                    See Resume
                </a>
        </div>
    </nav>
</header>
