// 全域
//======================================= 字體大小
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
img {
  //解決圖片下方留白問題
  display: block;
  font-size: 0;
}

.container {
  max-width: 1140px;
  margin: 4.2rem auto;
  padding: 2rem;
}

//======================================= 顏色
$black: #393939;
$white: #FFFFFF;
$red: #FF0082;
$yellow: #FFCD1A;
$blue: #1C7EEE;

//======================================= a標籤
a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto Condensed', sans-serif;
}

// fonts
$h1: 60px;
$h2: 40px;

$title: 40px;
$subtitle: 32px;
$paragraph: 18px;
$small: 14px;

$font-color: $black;

h1 {
  font-size: $h1;
  line-height: 68px;
  color: $font-color;
}

h2 {
  font-size: $h2;
  line-height: 44px;
  color: $font-color;
  margin: 1rem 0;
}


.title{
  font-size: $title;
  line-height: 22px;
  color: $font-color;
}

.subtitle{
  font-size: $subtitle;
  line-height: 40px;
  color: $font-color;
}

.paragraph{
  font-size: $paragraph;
  line-height: 28px;
  color: $font-color;
}

@mixin paragraph{
  font-size: $paragraph;
  line-height: 28px;
  color: $font-color;
}

.small{
  font-size: $small;
  line-height: 12px;
  color: $font-color;
}

// ======================================= 按鈕
button {
  border: solid 2px $red;
  background-color: transparent;
  padding: 12px 80px;
  margin: 1rem 0;
  cursor: pointer;
  @include paragraph;
  transition: 0.5s;

  &:hover{
    background-color: $red;
    color: $white;
    transition: 0.5s;
  }

  i{
    margin-right: .4rem;
  }


}


// ======================================= RWD
$lg_bkpoint: 1441.02px; //大於桌機
$m_bkpoint: 991.98px; //橫式平板
$ms_bkpoint: 767.98px; //平板
$s_bkpoint: 575.98px; //小平板
$xs_bkpoint: 413.98px; //垂直手機

@mixin lg-desktop {
  @media(max-width:$lg_bkpoint) {
    @content;
  }
}

@mixin latop {
  @media(max-width:$m_bkpoint){
    @content;
  }
}

@mixin pad {
  @media(max-width:$ms_bkpoint) {
    @content;
  }
}

@mixin small_pad {
  @media(max-width:$s_bkpoint) {
    @content;
  }
}

@mixin mobile {
  @media(max-width:$xs_bkpoint) {
    @content;
  }
}

